Introduction to Python

In [42]:
x = 5
y = 7

j= x*y

In [43]:
j

35

Timothy is my friend, he is 30 years old, he earms $2000 a month

In [44]:
friendname = "Timothy"
Age = 30
income = 2000.98
print(friendname)
print(Age)
print(income)
Ageincome = Age * income
print(Ageincome)

Timothy
30
2000.98
60029.4

James is a teacher in St.Joseph college,
He teaches math, physics and chemistry.
He is 45 years old and currently been teaching for 20 years.

In [59]:
Tname = "James"
coleg = "St.Joseph college"
subjs = ["Maths", "Physics", "Chemistry"]
age = 45
expr =20
print(f"{Tname.capitalize()} is a teacher, he teaches at {coleg.upper()}, he teaches {subjs} in the school and he has been teaching for {expr} years.")

James is a teacher, he teaches at ST.JOSEPH COLLEGE, he teaches ['Maths', 'Physics', 'Chemistry'] in the school and he has been teaching for 20 years.

In [56]:
subjs

['Maths', 'Physics', 'Chemistry']

In [47]:
type(Age)

int

In [50]:
type(income)

float

In [51]:
int(income)

2000

Example of mulple line comments

In [49]:
studage = 30
grade = 'A-'